[Unit]
Description=Start up Pi-Terkom script

[Service]
User=pi
ExecStart=/opt/run_piterkom.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
